# Air Pollution - Challenge

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Data Loading

In [2]:
train_data=pd.read_csv('./Training Data/Train.csv')

In [3]:
train_data.head()

   feature_1  feature_2  feature_3  feature_4  feature_5     target
0   0.293416  -0.945599  -0.421105   0.406816   0.525662 -82.154667
1  -0.836084  -0.189228  -0.776403  -1.053831   0.597997 -48.897960
2   0.236425   0.132836  -0.147723   0.699854  -0.187364  77.270371
3   0.175312   0.143194  -0.581111  -0.122107  -1.292168  -2.988581
4  -1.693011   0.542712  -2.798729  -0.686723   1.244077 -37.596722

In [4]:
train_data.shape

(1600, 6)

In [5]:
y_train=train_data['target']
y_train=np.array(y_train)

In [6]:
y_train.shape

(1600,)

In [7]:
x_train= train_data.drop(['target'],axis=1)

In [8]:
x_train.head()

   feature_1  feature_2  feature_3  feature_4  feature_5
0   0.293416  -0.945599  -0.421105   0.406816   0.525662
1  -0.836084  -0.189228  -0.776403  -1.053831   0.597997
2   0.236425   0.132836  -0.147723   0.699854  -0.187364
3   0.175312   0.143194  -0.581111  -0.122107  -1.292168
4  -1.693011   0.542712  -2.798729  -0.686723   1.244077

In [9]:
x_train=np.array(x_train)
print(x_train)

[[ 0.29341624 -0.94559871 -0.42110515  0.40681602  0.52566183]
 [-0.83608408 -0.18922804 -0.77640262 -1.05383124  0.59799685]
 [ 0.23642511  0.13283602 -0.14772298  0.69985396 -0.18736416]
 ...
 [ 1.04417694 -0.89920649  1.73039905 -1.87105676  0.44251965]
 [-1.2691729  -0.00505216  1.85766873 -1.08036482  0.73633394]
 [-1.88400025 -0.84942743 -1.45227035  0.48861308  1.4595758 ]]

In [10]:
x_train.shape

(1600, 5)

Linear Regression Algorithm

In [11]:
def hypothesis(x,t):
    return np.dot(x,t)

In [12]:
def loss(x,y,t):
    yh=hypothesis(x,t)
    e=np.sum((yh-y)**2)
    return e/(x.shape[0])

In [13]:
def grad(x,y,t):
    yh=hypothesis(x,t)
    k=np.sum(np.dot(x.T,(yh-y)))
    return k/(x.shape[0])

In [ ]:
def grad_d(x,y,lr=0.1,mi=300):
    el=[]
    for i in range(mi):
        e=loss(x,y,t)
        el.append(e)
        g=grad(x,y,t)
        t=t-lr*g
    return t,el